.about-hero {
  background: url('https://media.istockphoto.com/id/1247569904/vector/arrows-light-blue-abstract-futuristic-speed-on-black-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=FsTw_Yq6QkfYQems8ysJtzE8kbMAR3x1_dv7TrwBqdI=') center/cover no-repeat;
  height: 60vh;
  position: relative;
}

.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.about-hero .container {
  position: relative;
  z-index: 2;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.8;
}

.mission-vision {
  background: linear-gradient(to right, #000000, #333333);
}
