.homepage-hero {
  background-image: url('https://t3.ftcdn.net/jpg/04/55/53/78/360_F_455537818_2AwVoujHe2gH7IRYTgrZ932Nt4MdwTXD.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  padding: 0 15px;
}

.homepage-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 1;
}

.homepage-hero .container {
  position: relative;
  z-index: 2;
}
